<div class="bg-white mt-[85px] w-full">
    <div class="content flex flex-col p-12 pb-4 justify-center">
        <div class="flex justify-space_between gap-[25%]">
            <p class="max-w-[50%]">Lorem ipsum dolor sit amet consectetur. Sed pulvinar bibendum in sit. Tincidunt magnis integer et aliquam scelerisque nisi.</p>
            <div class="flex dlex-col w-auto">
                <img class="h-auto w-[100%]" src="assets/images/PDLlab.png" alt="PDLlab_logo">
                <span></span>
            </div>
        </div>
        <span class="mt-12 text-center w-full text-[12px]">copyrigth©PDLlab 2023</span>
    </div>
</div>