.floating-icons-container {
    position: fixed;
    top: 50%;
    right:0.5%;
    transform: translate(0.5%, -50%);
    z-index: 100;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-radius: 10px 0px 0px 10px;
    background: #FFF;
    box-shadow: -4px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    cursor: pointer;
}

.floating-icons-container mat-icon {
    margin: 5px;
}