<div class="container_hero relative flex flex-col">
    <div class="relative flex flex-col">
        <strong>Consulter des livres gratuitement</strong>
        <p>Vous pouvez consulter différents types de media via votre interface</p>
        <button>Commencer</button>
    </div>
</div>
<div class="container_2 relative">
    <img src="assets/images/bg_hero2.png" alt="plume">
    <div class=bg_flou></div>
    <div class="flex flex-col justify-center z-[10] content text-center absolute">
        <strong>Bienvenue sur PDLlab</strong>
        <span>Votre librairie numérique gratuite</span>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur. Lectus nisi id consectetur molestie dignissim consectetur. Commodo viverra vestibulum nibh natoque ante. Mattis nibh integer mauris mauris. Volutpat ac enim semper sed. Diam molestie vitae facilisi volutpat pulvinar in. Morbi a leo in felis. Aenean iaculis et amet eget sollicitudin. Lorem egestas pulvinar et aliquet netus tempor dui. Elementum morbi mollis at lobortis consequat.</p>
    </div>
</div>