.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le flou */
    backdrop-filter: blur(8px); /* Flou du fond */
    z-index: 999; /* Assurez-vous que le fond flouté est au-dessus du reste */
}  
.content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 80px; 
    width: 35vw;
    height: 90vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
    z-index: 1000;
    .header{
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column; 
        h1{
            color: #FF5C00;
            text-align: center;
            font-family: 'Jacques Francois';
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .socialmedia{
            justify-content: center;
            display: flex;
            gap: 20px;
            // justify-content: space-between;
            div{
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border: none;
                width: 35px;
                height: 35px;
                img{
                    max-width: none;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        div{
            display: flex;
            width: 100%; 
            align-items: center;
            p{
                color: #000;
                text-align: center;
                font-family: 'Josefin Sans';
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                margin: 0 20px;
                line-height: normal;
            }
            hr{
                // border: none;
                border-top: 2px solid #000;
                width: 100%;
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .form{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 20px;
            color: #7C7C7C;
            mat-form-field{
                font-family: 'Josefin'; 
            }
        }
        a{
            color: #000;
            text-align: center;
            font-family: 'Times New Roman', serif;
            // font-family: Jacques Francois;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: start;
        }
        button[type="submit"]{
            border-radius: 3px;
            font-weight: 600;
            font-family: Inter;
            font-size: 20px;
            margin-top: 30px;
            color: #FFF;
            background: rgba(255, 92, 0, 0.74);
            padding: 2px 20px;
            width: fit-content;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }   
}